.data-comp{
    display: flex;
   width: 100%;
   justify-content: center;
   height: 220px;
   
   
}

.info-data li {
    font-size: 12px;
    display: flex;
     padding: 20px;
    flex-direction: column;
    border: 3px solid #f6f6f6;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  
  .contain-data{
      display: flex;
      
  }
  
  .contain-data > P{
      margin-top: 10px;
      padding-top: 10px;
      margin-left: 24px;
      font-size: 18px;
  }
  
  /* .info-section> .info > li{
      display: flex;
      text-align: center;
      background-color: #ffffff;
      border-bottom: 2px solid #f6f6f6;
     
      
     
  }  */
  .scroll-div-data{
    height: 200px;
    overflow-y: scroll;
  }
  
  .info-data{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    
  }
  
  
  
  .profile-pic-data{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      
  }